{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <section class="py-10 py-md-14 overlay overlay-black overlay-60 bg-cover" style="background-image: url(assets/img/covers/cover-5.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Heading -->
                    <h1 class="display-2 fw-bold text-white">

                    </h1>

                    <!-- Text -->
                    <p class="lead text-white-75 mb-0">

                        Au mois de juin 2013, Chenil Service a été sollicité par la Mairie pour effectuer un ramassage de chats errants, dans une rue de la ville de Merdrignac.<br>
                        Nous comprenons très bien leur intervention et ne jugeons pas. Par contre face à cette solution extrême, nous pouvons proposer une alternative. <br>
                        N'ayant pas d'association de protection animale dans le secteur, nous avons décidé de créer une association de "chats libres".<br>
                        <br>
                        L'association a été enregistrée à la Préfecture des Côtes d’Armor en date du 16 septembre 2013.<br>


                        Notre mission a débuté en Novembre 2013. Des campagnes de stérilisations avec arrêtés municipaux sont toujours en cours. Les chats errants prennent ensuite le statut de "chats libres".....ils sont remis sur leurs lieux de vie et protégés par l'association (sites).<br>
                        Des adhérents-référents prennent soins d'eux et sont obligatoirement en relation avec l'association.<br>
                        <br>

                    </p>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>


                    <div class="col-6 col-md-3">
                        <img src="{{ asset('img/image2accueil.jpg') }}">
                    </div>

    {% endblock %}
