{% extends 'base.html.twig' %}

{% block title %}Parrainage{% endblock %}

{% block body %}
<br>
  <!-- SECTION -->
    <section class="py-6 py-md-8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <!-- Heading -->
                    <h3 class="fw-bold">
                       Qu'est ce que le parrainage?
                    </h3>
                    <h5 class="fw-bold">
                        Coté finance
                    </h5>
                    <!-- Text -->
                    <p class="mb-7">
                        Le parrainage est un don qui sera affecté à un chat de l'association en particulier.
                        Le parrainage étant assimilé à un don, vous recevrez un reçu fiscal, vous donnant droit à une déduction fiscale de 66 %,
                        dans la limite de 20% de votre revenu imposable.
                    </p>
                    <h5 class="fw-bold">
                        Coté chat
                    </h5>


                            <!-- Text -->
                            <p>
                               Le parrainage permet le financement des soins du chat choisi.
                                Les chats qui sont à parrainer ont des soins, suivis vétérinaire, traitements longue durée.
                                C'est une façon d'aider l'association et en particulier un chat.
                            </p>

                    <h3 class="fw-bold">
                       Comment faire?
                    </h3>

                            <!-- Text -->
                            <p>
                               Vous pouvez contacter l'association
                                <a class="" href="{{path('contact')}}">
                                   ici
                                </a>
                                ,en précisant le chat que vous souhaitez parrainer, ainsi que le montant mensuel ou annuel.<br><br>

                                Puis <a class = "" href=https://www.paypal.com/donate/?token=uHXeVM5hE05xRSJDRBsqqHwjEkOhwQUIq9wn8GnuzHEcka6dz3cf4H5xIuT0AdcpvzWYqbtOa3gGdK0s&locale.x=FR" >
                                    ici</a>
                                afin de faire votre don.
                                <br><br>
                            </p>


                    </ul>
                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>


{% endblock %}
